html, body {
	padding: 0;
	margin: 0;
}

body {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #13314f;
    /*color: red;*/
    font: 0.8em Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}

.header {
	background-color: #eee;
}

.footer {
	height: 100px;
	background-color: #eee;
	border-top: 1px solid #d5d5d5;
	text-align: center;
}

.header_title {
	font-weight: bold;
	font-size: 2rem;
	padding: 20px;
}

.header_nav {
	height: 3.25em;
	background-color: #c7cdd4;
	border-top: 1px solid #a5b1be;
	font-size: 1.1em;
	font-weight: bold;
	display: flex;
}

.header_line {
	height: 0.4em;
	background-color: #d95d5d;
	border-bottom: 1px solid #aa3131;
}

.nav_day {
	padding : 10px 10px 15px 10px;
	margin-top: -1px;
	cursor: pointer;
	border-top: 1px solid transparent;
}

.nav_day:hover, .nav_day.selected {
	background-color: #d95d5d;
	border-top-color: #aa3131;
}

.nav_day:first-child {
	padding-top: 15px;
	flex-basis: 120px;
	/*width: 100px;*/
	/*padding-left: 35px;*/
}

a {
    text-decoration: none;
    color: #13314f;
    display: inline-block;
}

.content {
	background-color: #fff;
    margin: 0 auto;
	min-width: 320px;
    /*border-left: 1px solid #d5d5d5;*/
    /*border-right: 1px solid #d5d5d5;*/
}

.channels_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.channel {
	flex-basis: 200px;
	background-color: #fff;
	padding-bottom: 40px;
	margin: 0 20px;
	flex-grow: 1;
}

.channel_name {
	margin: 20px 0;
}

.channel_title {
	width: 220px;
	padding: 5px 0 0 50px;
	font-size: 1.75em;
	font-weight: bold;
}

.channel_icon {
	width: 38px;
	height: 30px;
	display: inline-block;
	float:left;
}
    
.channel_program_item {
	height : auto;
	padding: 5px 0;
	display: block;
	overflow: auto;
	font-size: 1em;
}

.channel_program_item_time {
	max-width: 100px;
	float : left;
	font-weight: bold;
}

.channel_program_item_name {
    padding-left: 50px;
	cursor: default;
}

.channel_program_item_name_inner:hover {
	color: #d95d5d;
}

.tooltip {
	background-color: #f5f5f5;
	position: fixed;
	width: 150px;
	height: 170px;
	padding: 20px;
	border: 1px solid #a5b1be;
	border-radius: 2px;
}

.tooltip_program {
	padding-top: 10px;
	font-weight: bold;
}

.toltip_genre {
	padding-top: 10px;
}

.ui-helper-hidden-accessible {
	display: none
}

.genre_select {
	width: auto;
	font-size: 0.8em;
	float: right;
	padding: 15px 5px;
	display: inline;
	font-weight: normal;
}

.genre {
	float: left;	
}

.genre_wrapper {
	padding-right: 120px;
}

.sport:hover, .series:hover, .children:hover, .films:hover {
	color: #d95d5d;
	cursor: pointer;
}

.genre_selected {
	color: #d95d5d;
}

.footer p {
	padding-top: 30px;
	color: #717171;
	font-size: 0.5rem;
}